@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
	--color-psgl-blue: #0055ff;
	--color-psgl-blue-2: #2971ff;
	--color-psgl-dark: #050508;
	--color-psgl-card: #0a0a0f;
	--color-psgl-accent: #ff0040;
	--color-psgl-light: #f0f5ff;

	--font-sans: 'Outfit', Roboto, Helvetica, Arial, sans-serif;

	--background-image-hero-gradient: linear-gradient(135deg, #0033cc 0%, #000510 100%);

	--background-size-grid: 40px 40px;
}

body {
	background-color: #050508;
	color: white;
}

.psgl-button {
	@apply bg-gray-950 border border-white/10 hover:bg-slate-900/60
		text-gray-300 hover:text-white text-sm font-bold uppercase cursor-pointer tracking-wider transition-all duration-300;
}

.psgl-button-active {
	@apply bg-psgl-blue border-psgl-blue text-white hover:bg-psgl-blue hover:border-psgl-blue;
}

.psgl-dropdown {
	@apply bg-slate-900/60 border border-white/10 hover:bg-slate-800/60
		text-gray-300 hover:text-white text-sm font-bold uppercase cursor-pointer tracking-wider transition-all duration-300;
}

.psgl-dropdown-active {
	@apply bg-psgl-blue border-psgl-blue text-white hover:bg-psgl-blue hover:border-psgl-blue;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-track {
	background: #0a0a12;
}

::-webkit-scrollbar-thumb {
	background: #0055ff;
	border-radius: 0px;
	/* Sharp edges */
}

::-webkit-scrollbar-thumb:hover {
	background: #2563eb;
}

/* Utility for skewed text revert */
.skew-fix {
	transform: skewX(12deg);
}

.-skew-fix {
	transform: skewX(-12deg);
}

@layer components {
	.btn-primary {
		@apply inline-flex items-center justify-center gap-2 min-w-[200px] px-8 py-4 cursor-pointer
        font-extrabold uppercase tracking-tight bg-white text-black
        hover:bg-psgl-blue hover:text-white
        active:bg-psgl-blue active:text-white;
	}
}

.prose a {
	@apply text-psgl-blue-2 hover:text-white;
}

prose a:hover {
	@apply text-white;
}
